# ignore all .a files
*.a
CMakeCache.txt
cmake_install.cmake
Makefile
*.fit
*.fits
*.layout
.DS_Store

CCDDrone/CCDDrone
do_not_touch/LastHashes.txt
do_not_touch/LastSettings.ini

# but do track lib.a, even though you're ignoring .a files above
#!lib.a

# only ignore the TODO file in the current directory, not subdir/TODO
#/TODO

# ignore all files in the build/ directory
CMakeFiles/

# ignore doc/notes.txt, but not doc/server/arch.txt
#doc/*.txt

# ignore all .pdf files in the doc/ directory and any of its subdirectories
#doc/**/*.pdf

.idea/*
